@model ControleEstoque.Models.Entidades.Categoria

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalhes da Categoria</h2>
<hr />

<table class="table table-striped">
    <thead>
        <tr class="bg-primary">
            <th>
                Nome Categoria
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>

                @Html.DisplayFor(model => model.NomeCategoria)
            </td>
        </tr>
    </tbody>
</table>
<div>
    <button class="btn btn-default">
        <a asp-action="Edit" asp-route-id="@Model.Id" style="text-decoration:none;">Editar</a>
    </button>
    <button class="btn btn-default">
        <a asp-action="Index" style="text-decoration:none ">Voltar</a>
    </button>

</div>
