@model IEnumerable<ControleEstoque.Models.Entidades.Categoria>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Categorias Cadastradas</h2>
<hr />
<button class="btn btn-success">
    <a asp-action="Create" style="text-decoration:none; color:white;">Adicionar +</a>
</button>
   
<br />  <br />

<table class="table table-striped">
    <thead>
        <tr class="bg-primary">
            <th>
                Nome Categoria
            </th>
            <th>
                Ações
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>

                    @Html.DisplayFor(modelItem => item.NomeCategoria)
                </td>
                <td>
                    <button class="btn btn-sm btn-default"><a asp-action="Edit" asp-route-id="@item.Id">Editar</a> </button>
                    <button class="btn btn-sm btn-default"><a asp-action="Details" asp-route-id="@item.Id">Detalhes</a></button>
                    <button class="btn btn-sm btn-default"><a asp-action="Delete" asp-route-id="@item.Id">Excluir</a></button>
                </td>
            </tr>
        }
    </tbody>
</table>
