@model ControleEstoque.Models.Entidades.Produto

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Deletar Produto</h2>
<hr />
<h4>Deseja excluir o item abaixo?</h4>




<table class="table table-striped bg-info">
    <thead>
        <tr class="bg-primary">
            <th>
              Nome Produto
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Categoria)
            </th>
            <th>
                Quantidade
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>

                @Html.DisplayFor(model => model.NomeProduto)
            </td>
            <td>
                @Html.DisplayFor(model => model.Categoria.NomeCategoria)
            </td>
            <td>
                @Html.DisplayFor(model => model.Quantidade)
            </td>
        </tr>
    </tbody>
</table>



<form asp-action="Delete">
    <input type="hidden" asp-for="Id" />
    <input type="submit" value="Excluir" class="btn btn-danger" />
    <button class="btn btn-default">
        <a asp-action="Index" style="text-decoration:none;">Voltar</a>
    </button>
</form>
